!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Fog City Ruby"
    %link{:href => "//fonts.googleapis.com/css?family=Lato:300,400", :rel => "stylesheet", :type => "text/css"}/
    = partial 'partials/meta-seo'
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css", :integrity => "sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1", :rel => "stylesheet"}/
    = stylesheet_link_tag :site
    %link{ rel: "icon", type: "image/ico", href: "favicon.ico" }
  %body{:class => page_classes}
    = partial 'layouts/partials/navbar'
    %main
      / CONTENT SHOWS HERE
      = yield
    = partial 'layouts/partials/footer'
    = javascript_include_tag :all
