%footer.footer-overrides.page-footer
  .container
    .row.mb0
      .footer-col
        %ul
          %li= link_to 'Attend', "/attend.html", class: "white-text"
          %li= link_to 'Speak', "/speak.html", class: "white-text"
      .footer-col
        %ul
          %li= link_to 'Host', "/host.html", class: "white-text"
          %li= link_to 'Learn More', "/learnmore.html", class: "white-text"
      .footer-col
        %ul
          %li= link_to "Join the Meetup", "http://www.meetup.com/fogcityruby", class: "white-text", target: "_blank"
          %li= link_to 'Code of Conduct', "/code-of-conduct.html", class: "white-text"
      .footer-col
        %ul
          %li= link_to "Follow us on Twitter", "https://twitter.com/fogcityruby", class: "white-text", target: "_blank"
          %li= mail_to "hello@fogcityruby.com", "hello@fogcityruby.com", class: "white-text"

