%section
  .container.mt20
    .row
      .col.s12
        %h3.section-header About Fog City Ruby

        %p
          Fog City Ruby was born in January 2016, and
          spent its first 9 months of existence known as SF.rb (pronounced
          SF-dot-RB). Then the organizers realized that having punctuation in the name of
          an organization was sufficiently difficult (especially for URLs), and that our
          love of both San Francisco and Ruby were better expressed with the soulful name
          Fog City Ruby. (All credit to founder Stella Cotton for thinking up the new name.)

        %p
          Our goal with every meetup is to create a welcoming environment where all kinds of
          programmers can talk about tech, not-tech, and whatever else seems interesting.
          Though we're a Ruby meetup, we've also hosted talks on topics like the Darknet, load testing,
          running an internship program, message buses, and why software for non-profits
          is kind of terrible. We like to hear about topics that are interesting and relevant
          to people who write Ruby code, which means reaching beyond Ruby (but we love hearing
          about Ruby, too, obviously.)

        %h3 Organizers

        %p.bio
          = image_tag "siena.jpg", alt: "Siena Aguayo"
          = link_to "Siena Aguayo", "https://twitter.com/sienatime", target: "_blank"
          is a software engineer at Indiegogo in San Francisco, where she
          has developed apps on iOS, Android, and Rails/Angular. You can find her on Twitter
          #{ link_to "@sienatime", "https://twitter.com/sienatime", target: "_blank" },
          and at #{ link_to "emojiparty.net", "http://emojiparty.net/", target: "_blank" },
          where she blogs about tech with Stella Cotton.
        %p.bio
          = image_tag "lillie.jpg", alt: "Lillie Chilen"
          = link_to "Lillie Chilen", "https://twitter.com/lilliealbert", target: "_blank"
          is an engineer and team lead at Omada Health. She co-founded AndConf, is the
          CTO of Double Union, a feminist hacker/makerspace in SF, and manages Bridge Troll,
          the open-source event managements software used by RailsBridge and Bridge Foundry.
        %p.bio
          = image_tag "stella.jpg", alt: "Stella Cotton"
          = link_to "Stella Cotton", "https://twitter.com/practice_cactus", target: "_blank"
          is a Tool engineer at Heroku, conference speaker, and co-founder of AndConf.
          She loves the World Wide Web Consortium, good abstractions, and boring technology.
        %p.bio
          = image_tag "anna.jpg", alt: "Anna Neyzberg"
          = link_to "Anna Neyzberg", "https://twitter.com/aneyzb", target: "_blank"
          is a software developer at Carbon Five. She is a member of the RailsBridge and
          Bridge Foundry boards as well as the chapter lead of RailsBridge
          SF. Anna is also very interested in the intersection of technology and health.

